*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    /* background-color: aqua; */
    background-image: linear-gradient(-90deg, red, blue);
}
.btns{
    float: right;
    grid-gap: 3px;
    display: flex;
    flex-direction: column;
}
#warning{
    /* margin-left: 300px; */
    position: relative;
    top: 100px;
    height: 150px;
    left: 30rem;
    background-color: aqua;
    padding: 20px;
    color: black;
    font-family: sans-serif;
    place-items: center;
    
}
.view{
    background-color: rgb(129, 164, 152);
    color: black;
place-items: center;
   
    width: 180px;
    height: 80px;
}
.timer{
    float: left;
    /* margin-left: 30px; */
    cursor: pointer;
}
.btnClosed{
    padding: 10px;
    border: none;
    color: white;
    background-color: brown;
}
.btnInter{
    padding: 10px;
    border: none;
    color: white;
    background-color: brown;

}
.Btns{
    display: flex;
    grid-gap: 30px;
    margin-top: 10px;
}
.mult{
    position: relative;
    bottom: 15px;
    cursor: pointer;
}
#secretData{
    display: flex;
    flex-direction: column;
}
#delet{
    width: 50px;
    height: 20px;
    font-weight: 700;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
#edit{
    width: 50px;
    height: 20px;
    font-weight: 700;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.cute{
   /* margin: 0px 0px 40px 100px; */
   background-color: rgba(47, 31, 31, 0.737);
   position: relative;
   color: aliceblue ;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   top: 20px;
   left:850px;
   float: left;
}
#view{
    width: 50px;
    height: 20px;
    font-weight: 700;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;

}
.signUpHeading{
    font-family: system-ui;
    font-size: 30px;
    margin-right: 100px;
}
.heading{
    font-family: system-ui;
    margin-right: 30px;
}
#Btn{
  margin: 20px 150px 0px 0px;
  background-color: blue;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
form{
    padding: 40px;
    margin-top: 40px;
    text-align: center;
   background-color: aliceblue;
    border-radius: 10px;
    display: grid;
    place-items: center;
    width: 400px;
    margin: 0 auto;
  box-shadow: 1rem 1rem 1rem 0.79rem rgba(0, 0, 0,0.4)

}
form{
  margin-top: 100px;
}
.Data{
    border: 1px solid black;
}
.double{
    display: flex;
    flex-direction: column;
   
}
.flex{
    display: flex;
    background-color: blueviolet;
    border: 1px solid black;
    flex-direction: column;
}
form h2{
    font-size: 30px;
    font-family: system-ui;
}
#logInBtn{
    cursor: pointer;
}
.incorrect{
    color: red;
    font-size: 15px;
}
input{
    margin-top: 20px;
    padding: 7px;
    /* border-radius: 5px; */
    width: 220px;
}
#loginBtns{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    grid-gap: 60px;
}
#logInBtn{
    width: 60px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}
#signUpBtn{
    width: 60px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

